.Map {
    height: 100vh;
    width: 100%;
    position: relative;
}

.popup-title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0px 0px 10px;
}

.toggle-button {
    position: absolute;
    bottom: 30px;
    background-color: #007acc;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    z-index: 1;
}

.right {
    right: 30px;
}

.left {
    left: 30px;
}

.display-none {
    display: none;
}

.toggle-button:hover {
    background-color: #005f99;
}

.margin-bottom {
    margin-bottom: 50px;
}

@media screen and (max-width:600px) {
    .esri-legend__service{
        margin-bottom: 50px;
    }
    .esri-view-height-small .esri-ui-corner .esri-component.esri-widget--panel{
        margin-bottom: 50px;
    }
}